




.short-resolution-container {
    justify-content: center;
}



.dashboard-main-container,  .short-resolution-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:#a7a7a7;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* .screener-menu-logo {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    height: 18%;
    padding-top: 20px;
}
 */

/* 

.screener-dashboard-view {
    display: flex;
    flex-direction: row;
    background-color: #3a4552;
    background: #3a4552;
    background: linear-gradient(300deg, #2b333f 0%, #3d444d 35%, #222933 100%); 
    color:#a7a7a7;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */

.screener-dashboard-menu {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    max-width: 280px;
    width: 18vw;
    height: 100%;
    overflow: hidden;
    background-color: #181d2388;
}

.screener-dashboard-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.screener-dashboard-page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    overflow: hidden;
    text-transform: capitalize;
    margin-top: 10px;
}

/* .screener-dashboard-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */





/**************************************************
*       Fundamentals page styling
***************************************************/

.dashboard-selected-page  {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-x: 'hidden';
    overflow-y: auto;
    flex-direction: column;
}

.fundamentals-body {
}

/* .fu-modes{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
    width: 100%;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 15px;
}
.fundamentals-modes, .fundamentals-modes-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 120px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #797979;
}
.fundamentals-modes-selected{
    color: #c5a40f;
    border-bottom: 2px solid #c5a40f;
} */

.fundamentals-classics-filter-options-bar {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    padding-bottom: 8px;
    height: 50px;
    width: 100%;
    min-width:300px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    overflow-x: auto;
}

.fundamentals-classics-filter-options::-webkit-scrollbar { 
    display: none;  /* Chrome Safari */
}

.countries-filter-list{
    padding-top: 20px;
    min-height: 40px;
}

.country-filter-item {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    margin-top: 0px;
}
.country-filter-item input{  
    margin-right: 15px;
    margin-left: 15px;
    height: 18px;
    width: 18px;

}


.exchange-filter-list {
    padding-top: 20px;

}
.exchange-filter-item {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    margin-top: 0px;
}
.exchange-filter-item input{  
    margin-right: 15px;
    margin-left: 15px;
    height: 18px;
    width: 18px;
}

.market-cap-filter-list {
    padding-top: 20px;
    min-width: 110px;
}
.market-cap-filter-item {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    margin-top: 0px;
}
.market-cap-filter-item input{
    height: 18px;
    width: 18px;
    margin-right: 15px;
    margin-left: 15px;
}
.market-cap-filter-item span{  
    font-size: 15px;
}




.fundamentals-classics-list-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}








/**************************************************
*       Stock Watch page styling
***************************************************/



.stock-watch-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.char-view-container {
    height: 100%;
    border-radius: 5px;
    background-color: #2f3e4b;
    background-image: linear-gradient(to right top, #3b4551, #3d4855, #3f4a58, #424d5c, #445060);
    color: rgba(0, 0, 0, 0.6);
    padding: 8px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    overflow: hidden;
}






.profile-view-header{
    height: 100px;
    background-color: yellow;
}


.profile-view-body {

}







/* .stock-watch-body {
} */

.screener-modes {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.screener-mode-selected {
    color: #6d4053;
    background-color: #53a2a9dc;
}
/* .screener-mode-selected {
    color: #c5a40f;
    background-color: #9c718467;
} */

.screener-mode, .screener-mode-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 120px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}

.stock-watch-elements {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.stock-watch-elements-section-I{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.stock-watch-chart-container {
    width: 100%;
    height: 75%;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    background-color: #2f3e4b;
    background-image: linear-gradient(to right top, #3b4551, #3d4855, #3f4a58, #424d5c, #445060);
}
.stock-watch-price-container {
    display: flex;
    align-items: flex-end;    
    justify-content: space-between;
    width: 100%;
    height: 25%;
}

.stock-watch-elements-section-II{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 30%;
}

.stock-watch-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 99%;
    width: 90%;
    overflow: hidden;
    background-color: #2f3e4b;
    background-image: linear-gradient(to right top, #3b4551, #3d4855, #3f4a58, #424d5c, #445060);
    border-radius: 10px;
}




